# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://iijemxufbwyzmrwzxwew.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_amIwR7l6fP4llgws9i8mQQ__OSfOsvQ
SUPABASE_SERVICE_ROLE_KEY=sb_publishable_amIwR7l6fP4llgws9i8mQQ__OSfOsvQ

# Producer.ai (TTAPI)
PRODUCER_AI_API_KEY=54160fd7-1b15-a8fa-671f-ed8bb0ec0a32
PRODUCER_AI_BASE_URL=https://api.ttapi.io

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
